<section class="great-hair-section d-md-block d-none">
    <div class="container">
        <div class="row align-items-center row-gap-4">
            <div class="col-12 col-md-6 col-lg-4">
                <h4>Being a great hair stylist involves more than just skill and creativity; it's a physically demanding role that comes with its own set of challenges, compounded by the everyday pressures of life.</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4 better-img">
                {{ svg('@webroot/static/svg/brand.svg') }}
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <h4>At Halo, we recognise the dedication and hard work that goes into each day in the salon. That’s why we’re committed to not just being a workplace, but a supportive team that actively enhances your quality of life and work.</h4>
            </div>
        </div>
    </div>
</section>