<footer>
    <div class="container">
        <div class="row footer-menu mb-5 mb-md-0">
            <div class="col-12 col-md-6 col-lg-7">
                <div class="row row-gap-5">
                    {% if siteGlobals.footerManu1|length %}
                        <div class="col-6 col-md-4">
                            <ul class="d-flex flex-column gap-4">
                                {% for link in siteGlobals.footerManu1 %}
                                    {% if not link.isEmpty() %}
                                        <li>{{ link.getLink() }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if siteGlobals.footerManu2|length %}
                        <div class="col-6 col-md-4">
                            <ul class="d-flex flex-column gap-4">
                                {% for link in siteGlobals.footerManu2 %}
                                    {% if not link.isEmpty() %}
                                        <li>{{ link.getLink() }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if siteGlobals.footerManu3|length %}
                        <div class="col-6 col-md-4">
                            <ul class="d-flex flex-column gap-4">
                                {% for link in siteGlobals.footerManu3 %}
                                    {% if not link.isEmpty() %}
                                        <li>{{ link.getLink() }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 offset-lg-1 mt-5 mt-md-0">
                <div class="up-to-date">
                    {% dynamicInclude '_dynamic/email-sign-up' %}
                </div>
            </div>
        </div>
        <!-- <h1>HALO</h1> -->
        <div class="footer-title-image">
            <img class="img-fluid" src="/static/images/h1.png" alt="h1'">
        </div>
    </div>
</footer>