{% cache using key 'halo-hair-footer' %}
    <footer class="footer bg-dark text-white text-center text-sm-start">
        <div class="container">
            <div class="row align-items-center row-gap-4">
                <div class="col-12 col-sm-6 order-sm-1 order-2">
                    <div class="footer-copyright-text">
                        <p>{{ now|date('Y') }} Copyright {{ siteName }}</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 order-sm-2 order-1">
                    <div class="footer-copyright-link">
                        <ul class="list-unstyled d-flex align-items-center justify-content-md-end justify-content-center m-0">
                            <li>
                                <a class="d-flex align-items-center justify-content-center" href="#">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20016 1.33331H10.8002C12.9335 1.33331 14.6668 3.06665 14.6668 5.19998V10.8C14.6668 11.8255 14.2594 12.809 13.5343 13.5341C12.8092 14.2593 11.8257 14.6666 10.8002 14.6666H5.20016C3.06683 14.6666 1.3335 12.9333 1.3335 10.8V5.19998C1.3335 4.17448 1.74088 3.19097 2.46602 2.46583C3.19116 1.74069 4.17466 1.33331 5.20016 1.33331ZM5.06683 2.66665C4.43031 2.66665 3.81986 2.9195 3.36977 3.36959C2.91969 3.81968 2.66683 4.43013 2.66683 5.06665V10.9333C2.66683 12.26 3.74016 13.3333 5.06683 13.3333H10.9335C11.57 13.3333 12.1805 13.0805 12.6306 12.6304C13.0806 12.1803 13.3335 11.5698 13.3335 10.9333V5.06665C13.3335 3.73998 12.2602 2.66665 10.9335 2.66665H5.06683ZM11.5002 3.66665C11.7212 3.66665 11.9331 3.75444 12.0894 3.91072C12.2457 4.067 12.3335 4.27897 12.3335 4.49998C12.3335 4.72099 12.2457 4.93295 12.0894 5.08924C11.9331 5.24552 11.7212 5.33331 11.5002 5.33331C11.2791 5.33331 11.0672 5.24552 10.9109 5.08924C10.7546 4.93295 10.6668 4.72099 10.6668 4.49998C10.6668 4.27897 10.7546 4.067 10.9109 3.91072C11.0672 3.75444 11.2791 3.66665 11.5002 3.66665ZM8.00016 4.66665C8.88422 4.66665 9.73206 5.01784 10.3572 5.64296C10.9823 6.26808 11.3335 7.11592 11.3335 7.99998C11.3335 8.88403 10.9823 9.73188 10.3572 10.357C9.73206 10.9821 8.88422 11.3333 8.00016 11.3333C7.11611 11.3333 6.26826 10.9821 5.64314 10.357C5.01802 9.73188 4.66683 8.88403 4.66683 7.99998C4.66683 7.11592 5.01802 6.26808 5.64314 5.64296C6.26826 5.01784 7.11611 4.66665 8.00016 4.66665ZM8.00016 5.99998C7.46973 5.99998 6.96102 6.21069 6.58595 6.58577C6.21088 6.96084 6.00016 7.46955 6.00016 7.99998C6.00016 8.53041 6.21088 9.03912 6.58595 9.41419C6.96102 9.78927 7.46973 9.99998 8.00016 9.99998C8.5306 9.99998 9.0393 9.78927 9.41438 9.41419C9.78945 9.03912 10.0002 8.53041 10.0002 7.99998C10.0002 7.46955 9.78945 6.96084 9.41438 6.58577C9.0393 6.21069 8.5306 5.99998 8.00016 5.99998Z" fill="white"/>
                                    </svg>

                                </a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center justify-content-center" href="#">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.6668 7.99998C14.6668 4.31998 11.6802 1.33331 8.00016 1.33331C4.32016 1.33331 1.3335 4.31998 1.3335 7.99998C1.3335 11.2266 3.62683 13.9133 6.66683 14.5333V9.99998H5.3335V7.99998H6.66683V6.33331C6.66683 5.04665 7.7135 3.99998 9.00016 3.99998H10.6668V5.99998H9.3335C8.96683 5.99998 8.66683 6.29998 8.66683 6.66665V7.99998H10.6668V9.99998H8.66683V14.6333C12.0335 14.3 14.6668 11.46 14.6668 7.99998Z" fill="white"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center justify-content-center" href="#">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.66683 9.99998L10.1268 7.99998L6.66683 5.99998V9.99998ZM14.3735 4.77998C14.4602 5.09331 14.5202 5.51331 14.5602 6.04665C14.6068 6.57998 14.6268 7.03998 14.6268 7.43998L14.6668 7.99998C14.6668 9.45998 14.5602 10.5333 14.3735 11.22C14.2068 11.82 13.8202 12.2066 13.2202 12.3733C12.9068 12.46 12.3335 12.52 11.4535 12.56C10.5868 12.6066 9.7935 12.6266 9.06016 12.6266L8.00016 12.6666C5.20683 12.6666 3.46683 12.56 2.78016 12.3733C2.18016 12.2066 1.7935 11.82 1.62683 11.22C1.54016 10.9066 1.48016 10.4866 1.44016 9.95331C1.3935 9.41998 1.3735 8.95998 1.3735 8.55998L1.3335 7.99998C1.3335 6.53998 1.44016 5.46665 1.62683 4.77998C1.7935 4.17998 2.18016 3.79331 2.78016 3.62665C3.0935 3.53998 3.66683 3.47998 4.54683 3.43998C5.4135 3.39331 6.20683 3.37331 6.94016 3.37331L8.00016 3.33331C10.7935 3.33331 12.5335 3.43998 13.2202 3.62665C13.8202 3.79331 14.2068 4.17998 14.3735 4.77998Z" fill="white"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex align-items-center justify-content-center" href="#">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.0677 3.88C10.612 3.35975 10.3609 2.69162 10.3611 2H8.30108V10.2667C8.28519 10.714 8.09633 11.1377 7.77426 11.4486C7.45219 11.7595 7.02205 11.9333 6.57441 11.9333C5.62775 11.9333 4.84108 11.16 4.84108 10.2C4.84108 9.05333 5.94775 8.19333 7.08775 8.54667V6.44C4.78775 6.13333 2.77441 7.92 2.77441 10.2C2.77441 12.42 4.61441 14 6.56775 14C8.66108 14 10.3611 12.3 10.3611 10.2V6.00667C11.1964 6.60657 12.1993 6.92843 13.2277 6.92667V4.86667C13.2277 4.86667 11.9744 4.92667 11.0677 3.88Z" fill="white"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endcache %}