{% set image = entry.heroImage.eagerly().one() %}
<section class="banner-section about-banner"{% if image %} style="background-image: url({{ image.url }})";{% endif %}>
  <div class="container">
    <div class="row align-items-center banner-text-content justify-content-center">
      {% if entry.heroText %}
        <div class="col-12 col-lg-10 col-xl-10 mx-auto text-white">
          {{ entry.heroText }}
        </div>
      {% endif %}
    </div>
    <div class="curve-image-text">
      <img src="{{ url('static/svg/curve-text.svg') }}" />
    </div>
  </div>
</section>