{% set image = entry.heroImage.eagerly().one() %}
<section class="banner-section about-banner"{% if image %} style="background-image: url({{ image.url }})";{% endif %}>
  <div class="container">
    <div class="row align-items-center banner-text-content justify-content-center">
      {% if entry.heroText %}
        <div class="col-12 col-lg-8 col-xl-7 mx-auto">
          <h1>{{ entry.heroText|nl2br }}</h1>
        </div>
      {% endif %}
    </div>
    <div class="curve-image-text">
      <img src="{{ url('static/svg/curve-text.svg') }}" />
    </div>
  </div>
</section>