<section class="who-are-section something-section reward-success">
  <div class="container-fluid">
    <div class="row align-items-center left-content">
      <div class="col-12 col-lg-6 px-0 content-width-50">
        <div class="experienced text-content">
          {{ entry.heroText }}
          {{ entry.heroCta.getLink({
              class: 'btn btn-black basic-salary-btn'
          }) }}
        </div>
      </div>
      <div class="col-12 col-lg-6 businesspeople px-0">
        {% set heroImage = entry.heroImage.eagerly().one() %}
        {% if heroImage %}<div class="image"> <img src="{{ heroImage.url }}" alt="{{ heroImage.title }}" /> </div>{% endif %}
      </div>
    </div>
  </div>
</section>