{% if entry.imageCards.count() %}
  <section class="cutting-styling-section my-0 openings-section">
    <div class="container">
      <div class="nav-product-salon culture-slider">
        {% for card in entry.imageCards.eagerly().all() %}
        <div class="slide">
          <div class="">
            {% set image = card.image.eagerly().one() %}
            {% if image %}<img src="{{ image.url }}" alt="{{ image.title }}" class="w-100 img-fluid" />{% endif %}
            <div class="card-body px-0">
              {% if card.heading %}<h4 class="mb-0">{{ card.heading }}</h4>{% endif %}
              <p>{{ card.text|nl2br }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}