<section class="revolutionise-section">
  <div class="container">
    <h2 class="mb-0">
      {{ entry.highlightedText }}
      <span>
        {{ entry.greyText }}
      </span>
    </h2>
    <div class="row good-people">
      {% for row in entry.process %}
        <div class="col-12 col-md-3">
          <div class="d-flex flex-column row-gap-0 row-gap-md-5">
            <div class="number position-relative">
              <h2>0{{ loop.index }}</h2>
            </div>
            <p>{{ row.processText }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>