<section class="who-are-section mt-0">
  <div class="container-fluid">
    <div class="row row-gap-5">
      <div class="col-12 col-lg-6 businesspeople px-0">
        <div class="position-relative">
          {% set image = entry.leftImage.eagerly().one() %}
          {% if image %}
            <div class="image">
              <img src="{{ image.url }}" alt="{{ image.title }}" />
            </div>
          {% endif %}
          <div class="curve-text">
            <img src="{{ url('static/svg/curve-text-left.svg') }}" />
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 px-0 content-width-50">
        <div class="experienced text-content d-lg-flex flex-lg-column h-100 justify-content-center">
          {{ entry.rightText }}
        </div>
      </div>
    </div>
  </div>
</section>