{% set curYear = now|date('Y') %}
<section class="openings-section">
    <div class="container">
        <div class="section-title mb-5">
            <h2>{{ curYear }} Salon Openings</h2>
        </div>
        {% set localSalons = craft.entries().section('localSalons').openingYear(curYear).all() %}
        <div class="nav-product-salon">
            {% for localSalon in localSalons %}
                {% set image = localSalon.image.eagerly().one() %}
                {% if image %}
                    <div class="slide">
                        <div class="darlington-card">
                            <img src="{{ image.url }}" alt="{{ localSalon.title }}" />
                            <div class="card-body">
                                <h4>{{ localSalon.title }}</h4>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>