{% set curYear = now|date('Y') %}
<section class="openings-section">
    <div class="container">
        <div class="section-title mb-5">
            <h2>{{ curYear }} Salon Openings</h2>
        </div>
        {% set rolloutPlans = craft.entries().section('rolloutPlans').openingYear(curYear).all() %}
        <div class="nav-product-salon">
            {% for rolloutPlan in rolloutPlans %}
                {% set image = rolloutPlan.image.eagerly().one() %}
                {% if image %}
                    <div class="slide">
                        <div class="darlington-card">
                            <img src="{{ image.url }}" alt="{{ rolloutPlan.title }}" />
                            <div class="card-body">
                                <h4>{{ rolloutPlan.title }}</h4>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>