{% if entry.cards.count() %}
  <section class="stylists-section py-5">
    <div class="container">
      <div class="row specialists specialists-row">
        {% for card in entry.cards.eagerly().all() %}
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card d-flex flex-column">
              {% if card.cardTitle %}<h4>{{ card.cardTitle }}</h4>{% endif %}
              {{ card.cardText }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}