<form class="my-4 form-join-halo" id="forn{{ pageSlug|pascal }}WorkAtHalo" method="post" action="" accept-charset="UTF-8" enctype="multipart/form-data">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="wheelform/message/send">
    <input type="hidden" name="form_id" value="2">
    <div class="email">
        <label for="fname">Name</label>
        <input type="text" class="email-bx form-control" name="name" placeholder="Sarah Smith" required /> 
    </div>
    <div class="email">
        <label for="experience">Number of Years Experience</label>
        <input type="text" class="email-bx form-control" name="yearsExpereince" placeholder="3 years experience" required /> </div>
    <div class="email">
        <label for="insta">Instagram</label>
        <input type="text" class="email-bx form-control" name="instagram" placeholder="@Instagram"> </div>
    <div class="email">
        <label for="qualifi">Qualifications</label>
        <input type="text" class="email-bx form-control" name="qualifications" placeholder="NVQ Level 3"> </div>
    <div class="email">
        <label for="phonen">Phone Number</label>
        <input type="tel" class="email-bx form-control" name="phoneNumber" placeholder="07543 234 554" required /> </div>
    <div class="email">
        <button class="btn btn-black" type="submit">Submit</button>
    </div>
</form>