<form class="my-4 form-join-halo" id="form{{ pageSlug|pascal }}WorkAtHalo" method="post" action="" accept-charset="UTF-8" enctype="multipart/form-data">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="wheelform/message/send">
    <input type="hidden" name="form_id" value="1">
    <div class="email">
        <label for="email">Email</label>
        <input type="email" class="email-bx form-control" name="email" placeholder="Enter Your Email address" required />
    </div>
    <div class="email">
        <label for="city">City</label>
        <select class="form-control city-bx" name="city">
            {% for rolloutPlan in craft.entries().section('localSalons').orderBy('openingYear ASC, phase ASC').all() %}
                <option value="{{ rolloutPlan.title }}">{{ rolloutPlan.title }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="email">
        <button class="btn btn-black" type="submit">submit</button>
    </div>
</form>