{% extends "_layouts/local-salon" %}

{% set bodyClass = '' %}

{% block main %}

    <div class="center-image" style="height: 50vh;width: 100%;background-color: #fff; display: flex;justify-content: center;align-items: center; position: relative;">
        <h1 style="color: #000; display: block; font-size: 80px;">Coming Soon</h1>
    </div>

{% endblock %}