{% extends "_layouts/_main" %}
{% block main %}
	{#% include '_partials/banner/default' %#}

<section class="mb-padding equal-paddiing">
    <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
        	<p>Sorry, this page is currently unavailable. We're making some improvements and will have it back very soon. Thank you for your understanding</p>
        </div>
    </div>
</section>

{% endblock %}