<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halo Hair Group</title>
</head>
<body style="margin:0; padding: 0;">
    <div class="center-image" style="height: 100vh;width: 100%;background-color: #000;display: flex;justify-content: center;align-items: center;">
        <img src="./static/images/halo-logo.png" alt="Halo Hair Group" style="max-width: 100%;height: auto;">
    </div>

</body>
</html>