<section class="who-are-section vacancies-section mb-0">
  <div class="container-fluid">
    <div class="flex-column-reverse flex-md-row row row-gap-5">
      <div class="col-12 col-lg-6 businesspeople px-0">
         <div class="position-relative">
          {% set image = entry.heroImage.eagerly().one() %}
          {% if image %}
            <div class="image">
              <img class="object-fit-cover" src="{{ image.url }}" alt="{{ image.title }}" />
            </div>
          {% endif %}
          {#
          <div class="curve-text">
            <img src="{{ url('static/svg/curve-text-right.svg') }}" />
          </div>
          #}
        </div>
      </div>
      <div class="col-12 col-lg-6 content-width-50">
        <div class="experienced text-content d-lg-flex flex-lg-column h-100 justify-content-center">
          {{ entry.heroText }}
        </div>
      </div>
    </div>
  </div>
</section>