<section class="full-width-image position-relative">
    <div class="row gy-4 masonry mx-0 position-relative">
        {% for image in block.photoCollage.all() %}
            <div class="col-6 col-md-4 px-0 mt-0"> <img class="w-100 img-fluid object-fit-cover" src="{{ image.url }}" alt="{{ image.title }}"> </div>
        {% endfor %}
    </div>
    {% if block.photoCollageText %}
        <div class="container">
            <div class="section-title text-white position-absolute z-2 font-40">
                {{ block.photoCollageText }}
            </div>
        </div>
    {% endif %}
</section>
