.video-banner {
	.plyr__control--overlaid {
		background: url("../images/play-icon.svg");
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
		width:60px;
		height:60px;
		border-radius:100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    z-index: 2;
	    padding: 0;
	    &:hover {
	    	background: url("../images/play-icon.svg");
	    }
		svg {
			display: none;
		}
		span {
			display: none;
		}
	}
}
@media(min-width:768px) {
	.video-banner {
		.plyr__control--overlaid {
			width:90px;
			height:90px;
		}
	}
}